@import './styles/app-part-1.css';
@import './styles/app-part-2.css';
@import './styles/app-part-3.css';
@import './styles/app-part-4.css';
@import './styles/app-part-5.css';
@import './styles/app-part-6.css';
